files/usr/share/activemq/schema/MIG.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://cern.ch/schema/MIG'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://cern.ch/schema/MIG'>

  <!-- element for type: org.apache.activemq.security.OatJaasDualAuthenticationPlugin -->
  <xs:element name='oatJaasDualAuthenticationPlugin'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Provides a JAAS based authentication plugin
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name='configuration' type='xs:string'/>
      <xs:attribute name='discoverLoginConfig' type='xs:boolean'/>
      <xs:attribute name='sslConfiguration' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Set the JAAS SSL configuration domain
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.activemq.plugin.RestrictionEntry -->
  <xs:element name='restrictionEntry'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='destination' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='destination' type='xs:string'/>
      <xs:attribute name='messageTtl' type='xs:long'/>
      <xs:attribute name='queue' type='xs:string'/>
      <xs:attribute name='tempQueue' type='xs:boolean'/>
      <xs:attribute name='tempTopic' type='xs:boolean'/>
      <xs:attribute name='topic' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.activemq.plugin.RestrictionMap -->
  <xs:element name='restrictionMap'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='defaultEntry' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:restrictionEntry'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name='restrictionEntries' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Delegate to the DestinationMap
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='defaultEntry' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.apache.activemq.plugin.RestrictionPlugin -->
  <xs:element name='restrictionPlugin'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='map' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='1'>
              <xs:element ref='tns:restrictionMap'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='durableSubscribers' type='xs:boolean'/>
      <xs:attribute name='map' type='xs:string'/>
      <xs:attribute name='originalDestination' type='xs:boolean'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
